<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheHappyCo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Styles/main.css') }}">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body id="Happy_Body">
  <!-- Navigation Bar -->
  <nav id="Happy_Navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div id="Happy_Header" class="container-fluid">
      <img id="Happy_Logo" src="{{ url_for('static', filename='Sources/logo_header_blanco.svg') }}" alt="Happy_Logo_White">
      <button class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#CBD_Header_Banner">NOSTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Happy_Products">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ContactUs">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header Banner -->
  <section id="Happy_Header_Banner">
    <div id=Happy_Banner class="container-fluid d-flex">
      <img src="{{ url_for('static', filename='Sources/banner.png') }}" alt="Happy_Banner_Image">
      <div id="Happy_Banner_Text" class="container-fluid d-flex">
        <h1>
          PREMIUM CBD
        </h1>
        <hr>
        <p>
          Nuestro CBD ultra premium se deriva únicamente del mejor cáñamo industrial
          del noroeste del Pacífico. Al asociarnos con agricultores locales, hemos creado una cadena de
          suministro totalmente integrada desde la semilla hasta los productos terminados.
        </p>
      </div>
    </div>
  </section>
  <!-- What is CDB? Banner -->
  <section id="CBD_Header_Banner">
    <div id="CBD_Banner">
      <div id="CBD_Banner_Text" class="container-fluid d-flex">
        <h1>
          ¿QUÉ ES EL CBD?
        </h1>
        <hr>
        <p>
          El CBD es un cannabinoide que se encuentra en la planta de Cannabis que aporta algunos de los
          beneficios de la marihuana pero no tiene sus efectos psicoactivos. Algunos de los beneficios y trastornos
          en los que el CBD puede ser de ayuda son los siguientes:
        </p>
      </div>
      <div id="Benefits_2" class="d-flex">
        <img src="{{ url_for('static', filename='Sources/marihuana_plant.png') }}">
      </div>
      <div id="CBD_Benefits" class="container-fluid d-flex">
        <div id="Benefits_1">
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_inflamac.svg') }}">
            <p>
              Anti-inflamatorio natural
            </p>
          </div>
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_ansiedad.svg') }}">
            <p>
              Reduce la ansiedad y síntomas de estrés post-traumático
            </p>
          </div>
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_temblor.svg') }}">
            <p>
              Reduce los temblores de Parkinson
            </p>
          </div>
        </div>
        <div id="Benefits_2_1">
          <img src="{{ url_for('static', filename='Sources/marihuana_plant.png') }}">
        </div>
        <div id="Benefits_3">
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_espasmos.svg') }}">
            <p>
              Mejorar los espasmos de la epilepsia
            </p>
          </div>
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_intestino.svg') }}">
            <p>
              Mejora la función intestinal en pacientes con Crohn
            </p>
          </div>
          <div id="Col_1">
            <img src="{{ url_for('static', filename='Sources/Icons_Que es CBD/icn_articul.svg') }}">
            <p>
              Reduce el dolor articular y progresión de la artritis
            </p>
          </div>
        </div>
      </div>
  </section>
  <!-- Products -->
  <section id="Happy_Products">
    <div id="Container_Products" class="container-fluid d-flex">
      <div id="Products_Title" class="d-flex">
        <h1>
          PRODUCTOS
        </h1>
        <hr>
      </div>
      <div id="Products_Filter" class="container-fluid d-flex">
        <ul>
          <li id="btn active" onclick="filterSelection('all')">TODOS</li>
          <li id="btn" onclick="filterSelection('tincturas')">TINCTURAS</li>
          <li id="btn" onclick="filterSelection('body_lotion')">BODY LOTION</li>
          <li id="btn" onclick="filterSelection('gomitas')">GOMITAS</li>
          <li id="btn" onclick="filterSelection('cremas')">CREMAS</li>
          <li id="btn" onclick="filterSelection('vapes')">VAPES</li>
        </ul>
      </div>

      <!-- Contenedor de Productos (desde JavaScript) -->
      <div id="Products_List" class="container-fluid d-flex">
        {% for product in products %}
          <div id="container" class="FilterDiv {{ product['category'] }}">
            <img src="{{ url_for('static', filename='Sources/Products/' + product['picture']) }}"/>
            <div id="middle">
              <h1>{{ product['name'] }}</h1>
              
              <a href="{{ url_for('single_product', id = product['id']) }}">
                <button>Comprar</button>
              </a>
              <a href="{{ url_for('single_product', id = product['id']) }}"></a>
            </div>
          </div>
        {% endfor %}
      </div>


    </div>
  </section>
  <!-- Contact Us -->
  <section id="ContactUs">
    <div id="Container_Contact" class="container-fluid d-flex">
      <div id="Contact_Title" class="d-flex">
        <h1>
          ESCRÍBENOS
        </h1>
        <hr>
      </div>
      <div id="Form_Contact" class="container-fluid d-flex">
        <div class="contact-form column" id="Form1">
          <div class="form-field col-lg-4">
            <input type="text" id="Nombre" class="input-text" name=" " placeholder="Nombre">
          </div>
          <div class="form-field col-lg-4">
            <input type="email" id="email" class="input-text" name=" " placeholder="Email">
          </div>
          <div class="form-field col-lg-4">
            <input type="text" id="asunto" class="input-text  " name=" " placeholder="Asunto">
          </div>
        </div>
        <div class="contact-form column" id="Form2">
          <div class="form-field col-lg-9">
            <textarea rows="4" id="Message" class="input-text" name=" " placeholder="Mensaje"></textarea>
          </div>
        </div>
      </div>
      <div id="Enviar" class="container-fluid d-flex">
        <button>Enviar</button>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="Happy_Footer container-fluid d-flex">
    <footer id="Happy_Footer">
      <div id="Grey_Footer" class="d-flex">
        <img src="{{ url_for('static', filename='Sources/sello_footer.svg') }}">
        <p>
          Distributed by: The Happy Company.
          <br>
          Av. Presidente Masaryk 61-901 B, Col. Polanco Miguel Hidalgo. Ciudad de México, México, C.P. 11560
        </p>
      </div>
      <div id="Black_Footer">
        <h2>Fabricado en Estados Unidos con ingredientes nacionales y extranjeros.</h2>
      </div>
    </footer>
  </section>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <!-- Jquery for Sticky Navbar -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <!-- JS -->
  <script src="{{ url_for('static', filename='Json/app.js') }}"></script>
  <script>
    $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
    });
</script>
</body>

</html>